<div class="row list-group">
  <div class="item col-xs-4 col-lg-4" *ngFor="let pizza of (pizzasObs | async)">
    <div class="thumbnail">
      <img class="group list-group-image" [src]="pizza.imagePath" alt="Immagine non disponibile" />
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          {{ pizza.name }}
        </h4>
        <p class="group inner list-group-item-text">
          {{ pizza.description }}
        </p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              € {{ pizza.price }}
            </p>
          </div>
          <div class="col-xs-12 col-md-6">
            <a class="btn btn-success btn-lg">Ordina</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
